* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
}
p{
    margin-left: 20%;
    font-size: 1.5em;
    font-weight: bold;
    font-family: cursive;
}
.form {
    width: 50%;
    margin: 16px auto;
    padding: 16px;
    border: 3px solid rgb(219, 125, 125);
}

.form > span {
    font-size: 1.5em;
    font-weight: bold;
    margin: 40%;
    font-family: cursive;
}

.form > input,
.form > .button {
    display: block;
    padding: 8px;
    border: 1px solid rgb(112, 83, 83);
    font-size: 1.5em;
}

.form > input,
.form > span {
    margin-bottom: 16px;
}

.form > input {
    width: 100%;
}

.form > .button>button {
    cursor: pointer;
    background: none;
    margin-left: 40%;
    padding: 16 px;
    font-size: 1.5em;;
    font-weight: bold;
    color: rgb(129, 56, 56);
}